
.new-tweet {
  width : 100%;
  top: 0;
  background-color: #f4f1ec;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  border: none;
  width: fit-content;
  padding: 6px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 2px;

}

.new-tweet textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 3px solid #545149;
 
}

.counter {
  position: relative;
  float: right;
  font-family: 'Bungee', cursive;
  color: #545149;
}

.new-tweet-error {
  display: none;
  border: red;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  padding: 1%;
  
}